<ion-view view-title="groups">
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="(groupId, status) in vm.currentPerson.groups">
                <!-- <span grouplink groupid="groupId"></span> -->
                {{groupId}}
            </ion-item>
        </ion-list>
		<!-- <div class="list">
			<div class="item item-divider">
		    	joined groups
		  	</div>

		  	<a class="item" href="#" ng-repeat="(groupId, status) in vm.currentPerson.groups" ng-show="status">
				<span grouplink groupid="groupId"></span>
		  	</a>
			<div class="item item-divider">
		    	invited groups
		  	</div>

		  	<a class="item" href="#" ng-repeat="(groupId, status) in vm.currentPerson.groups" ng-show="!status">
				<span grouplink groupid="groupId"></span>
		  	</a>


		</div> -->
	</ion-content>
</ion-view>
