body{
	background-color: #f9f9f9
	padding-bottom: 30px;
}
nav{
	/*background-color: #BDE8FF;*/
	background-color: white;
}
.label{
	margin-left: 5px;
}
.active{
	border-bottom: 2px solid #337ab7;
}
h3 .active{
	border-bottom: 1px dotted #337ab7;
}
.chat .well{
	max-height: 500px;
	overflow: scroll;
}
