<html ng-app="app">
<head>
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="./normalize.css" rel="stylesheet">
<link href="./style.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="./tingo-controller.js"></script>
</head>
<body ng-controller="TingoCtrl as vm">

<div id="rule-set">
	<input type="checkbox" ng-model="vm.ruleSet.columns" ng-change="vm.ruleChanged()"> columns
	<input type="checkbox" ng-model="vm.ruleSet.rows" ng-change="vm.ruleChanged()"> rows
	<input type="checkbox" ng-model="vm.ruleSet.diagonals" ng-change="vm.ruleChanged()"> diagonals
	<input type="checkbox" ng-model="vm.ruleSet.blackout" ng-change="vm.ruleChanged()"> blackout
</div>
<div id="reset" ng-click="vm.reset()">
	reset board
</div>

<table>
	<tbody>
		<!-- row 1 -->
		<tr ng-repeat="row in vm.bingoBoard">
			<td ng-repeat="square in row" ng-click="vm.completeSquare(square)">
				<div class="completed-square" ng-show="square.completed">
					<i class="fa fa-check-circle fa-5x"></i>
				</div>
				<div class="square-header">
					{{square.title}}
				</div>
				<div class="square-body">
					{{square.body}}
				</div>
			</td>
		</tr>
	</tbody>

</table>

<div id="notification" ng-bind="vm.notification">
</div>


</body>
</html>