<ion-view name="home">
    <ion-nav-buttons side="left">
        <button class="button button-clear" menu-toggle="left">
            <i class="icon ion-more"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <i class="icon ion-pizza"></i>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="create-group">
            <i class="icon ion-ios-plus-outline"></i>
        </a>
    </ion-nav-buttons>
    <!-- <div ng-include="'navbar/sidemenu.html'"></div> -->
    <ion-content class="padding">
        <!-- <h2> Welcome to friendsbook<span ng-show="vm.currentPerson.displayName" class="text-info">, {{vm.currentPerson.displayName}}</span>! </h2> -->

        <ion-list>
            <ion-item class="bar-energized">
                <h2>You've been invited to these groups</h2>
            </ion-item>
            <ion-item ng-repeat="(groupId, status) in vm.currentPerson.groups" ng-show="!status">
                <span grouplink groupid="groupId"></span>
                <!-- {{groupId}} -->
            </ion-item>
            <ion-item>
                <h2>You've joined these groups</h2>
            </ion-item>
            <ion-item ng-repeat="(groupId, status) in vm.currentPerson.groups" ng-show="status">
                <span grouplink groupid="groupId"></span>
                <!-- {{groupId}} -->
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
