<ion-view>
	<ion-nav-buttons side="left">
		<button class="button button-clear" ui-sref="app.home">
			<i class="icon ion-ios-arrow-left"></i>
		</button>
	</ion-nav-buttons>
	<ion-nav-title>
		<i class="icon ion-pizza"></i>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<a class="button button-clear" ui-sref="chat({key: vm.group.$id})">
			<i class="icon ion-chatbubbles"></i>
		</a>
    </ion-nav-buttons>

    <ion-content >
		<h3 class="lead center">
			{{vm.group.title}}
		</h3>
		<div class="button-bar">
			<button class="button" ng-class="{'button-royal': vm.currentlySelectedUser === '{{member}}'}" ng-repeat="(member, value) in vm.members" ng-click="vm.currentlySelectedUser = '{{member}}'" ui-sref="group.board({user: member})">
				<span chatlink uid="member"></span>
			</button>
		</div>
		<ui-view></ui-view>
<!-- 		<div class="bingo-board">
			<a ui-sref="square({key: vm.group.$id})"class="bingo-square" ng-repeat="square in vm.board" ng-click="vm.completeSquare(square)">
				<div class="completed-square" ng-show="square.completed">
					<i class="fa fa-check-circle fa-5x"></i>
				</div>
				<div class="square-header">
					{{square.title}}
				</div>
				<div class="square-body">
					{{square.body}}
				</div>
			</a>
		</div> -->
	</ion-content>
</ion-view>
