<p class="lead text-muted"> Joined groups </p>
<div class="list-group">
	<div class="list-group-item" ng-repeat="(groupId, status) in vm.currentPerson.groups" ng-show="status">
		<span grouplink groupid="groupId"></span>
	</div>
</div>
<hr>
<p class="lead text-muted"> Invited groups </p>
<div class="list-group">
	<div class="list-group-item" ng-repeat="(groupId, status) in vm.currentPerson.groups" ng-show="!status">
		<span grouplink groupid="groupId"></span>
	</div>
</div>
<hr>
<h4>
	<a class="btn btn-default btn-block btn-lg" href="#/create-group">create a new group</a>
</h4>