<div class="row">
	<div class="col-md-6">
		<h5> group membs </h5>
		<table class="table table-hover">
			<tr ng-repeat="user in vm.group.members">
				<td> {{user.name}} </td>
				<td> <button class="btn btn-link" ng-click="vm.removeFromGroup(user)">remove from group</button></td>
			</tr>
		</table>

	</div>
	<div class="col-md-6">
		<h5>invite people</h5>
		<input type="text" class="form-control" placeholder="search for friends" ng-model="search.username">
		<table class="table table-hover">
			<tr ng-repeat="user in vm.users | FriendSearch:search.username">
				<td> {{user.username}} </td>
				<td> <button class="btn btn-link" ng-click="vm.addToGroup(user)">add to group</button></td>
			</tr>
		</table>
	</div>

</div>
<div class="row">
	<button class="btn btn-primary" ng-click="vm.createGroup()"> create </button>
	<a href="#" class="btn btn-default"> cancel </a>
</div>