<h3> SO, you want to create a group? </h3>
<div class="row">
	<h5>what should it be called?</h5>
	<input ng-model="vm.group.title" type="text" class="form-control">
</div>
<div class="row">
	<h5> do you want a description?</h5>
	<textarea ng-model="vm.group.description" type="text"  class="form-control"></textarea>
</div>
<div class="row">
	<label for="private">do you want this group private?</label>
	<input name="private" type="checkbox" ng-model="vm.group.private">

</div>
<div class="row">
	<button class="btn btn-primary" ng-click="vm.createGroup()"> create </button>
	<a href="#" class="btn btn-default"> cancel </a>
</div>