<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ui-sref="settings({key: vm.group.$id})">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
		<i class="icon ion-pizza"></i>
	</ion-nav-title>
    <ion-content class="padding">
		<h4> invite friends </h4>
		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label">search for friends</span>
				<input type="text" class="form-control square-bottom" placeholder="search friends" ng-model="vm.searchText">
			</label>
		</div>
		<div class="list">
			<div class="item item-avatar item-button-right" ng-repeat="friend in vm.friends | FriendSearch:vm.searchText">
                <img class="userImg" uid="friend.uid">
				<span class="userlink" uid="friend.uid"></span>
				<span class="invitebutton" uid="friend.uid"></span>
                <button class="button">hi</button>
			</div>
		</div>
        <a ui-sref="group({key: vm.group.$id})" class="button button-block button-positive"> create group</a>
	</ion-content>
</ion-view>
